*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/rockface.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box
{
    width:380px;
	height:430px;
	position:relative;
	margin:10px auto;
	background:white;
	padding:40px;
    border-radius: 15px;
    
}
.input-group-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.check{
    display: flex;
    flex-direction: row;
}
.sign{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.menu nav ul li{
    display: inline-block;
    margin-right: 70px;
}
.menu nav ul li a{
    text-decoration: none;

    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}
.fa-bars{
    color: white;
    font-size: 25px;
    cursor: pointer;
    
}
img{
    width:7rem;
    height: auto;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -2rem;
}
.social img{
    width: 30px;
    margin: 4rem 12px;
    cursor: pointer;
    border-radius: 25px;
}
.form-box{
    display: flex;
    flex-direction: column;
}
.input-group-login
{
    margin-top: .5rem;
	display: flex;
    flex-direction: column;
	width:100%;
    box-sizing: border-box;
    font-size: 10px;
    color:lightgrey;
    font-weight: bold;
    font-family: sans-serif;
}
.input-field
{
	width: 90%;
	padding:10px 0;
	margin:5px 10px;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	box-sizing: border-box;
    border-radius: 32px;
    background-color:rgba(228, 228, 228, 0.918);
}
.sign-btn
{
    position: relative;
	width: 15rem;
    margin-left: -5.3rem;
	padding: 10px 30px;
	cursor: pointer;
    text-align: center;
	background: rgb(151, 204, 151);
	border: 0;
	outline: none;
    color: ivory;
	border-radius: 30px;
    font-weight: bold;
}
label{
    margin-left:1.2rem ;
}
span.footer{
    display: flex;
    justify-content: center;
    color: white;
}
span.or{
    display: flex;
    justify-content: center;
    color: lightgray;
    font-size: 10px;
}
h2{
    display: flex;
    justify-content: center;
    
    color: white;
    font-family:'Copperplate',fantasy;
    font-weight: 500;
}
span.above{
    display: flex;
    margin-left: .5rem;
}
input.check-box{
    margin-left: 2rem;
}
span.below{
    color: lightgrey;
    font-size: 14px;
}
