*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/rockface.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: block;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    margin-top: -2rem;
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button

{   
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
 
#login-form
{
    display: inline;
}
.form-box
{
    width:380px;
	height:430px;
	position:relative;
	margin:10px auto;
	background:white;
	padding:40px;
    border-radius: 15px;
    
}
.input-group-login
{
	position:absolute;
	width:100%;

    margin-left: -20px;
     box-sizing: border-box;
    font-size: 10px;
    color:lightgrey;
    font-weight: bold;
    font-family: sans-serif;
    text-align: left;
}
.input-field
{
	width: 70%;
	padding:10px 0;
	margin:5px 19px;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	box-sizing: border-box;
    border-radius: 32px;
    background-color:rgba(228, 228, 228, 0.918);
}
.sign-btn
{
	width: 75%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
    text-align: center;
    margin-left: 20px;
	background: rgb(151, 204, 151);
	border: 0;
	outline: none;
    color: ivory;
	border-radius: 30px;
    font-weight: bold;
}
.check-box
{
	margin: 30px 10px 34px 0;
    border-radius: 20px;}
span 
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
.social{
    margin: 330px 20px;
    margin-left: 20px;
    text-align: center;
    word-spacing:-3px;
}
.social img{
    width: 30px;
    margin: 0 12px;
    box-shadow: slategray;
    cursor: pointer;
    border-radius: 25px;
}
img {
    width: 7rem;
    height: auto;
}
label{
    margin-left: 30px;
}
.input-field{
    margin-left: 30px;
}
.check-box{
    margin-left: 30px;
    margin-top: 10px;
}
span.below{
    margin-left: 80px;
    margin-bottom: 65px;
    color: lightgray;
}
span.or{
    margin-left: 70px;
    margin-bottom: 25px;
    color: lightgray;
}
span.top{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content:center ;
    font-family: impact,'Arial Narrow Bold';
    margin-left: 650px;
    margin-bottom:460px;
}
span.footer{
    margin-left: 90px;
    margin-bottom: -100px;
    color: white;
    font-size: 10px;
    font-family: sans-serif;
}